 <div class="container weatherDisplay">
    <div class="card" id="currentWeather">
        <div class="cardHeader">
            <h4><%= current.name %> Now</h4>
        </div>
        <div class="cardBody">
            <div class="cardBodyTop">
                <img src="http://openweathermap.org/img/wn/<%= current.weather[0].icon %>@2x.png" alt="Current weather icon">
                <h5><%= Math.round(current.main.temp) %>&deg;</h5>
                <p><%= current.weather[0].main %></p>
            </div>
            <div class="cardBodyBot">
                <div class="cardBottom" id="bottomLeft">
                    <p><i class="bi bi-moisture"></i> <%= current.main.humidity %>%</p>
                    <p><i class="bi bi-arrow-down"></i> <%= Math.round(((current.main.pressure / 33.8638) + Number.EPSILON) * 100) / 100 %> inHg</p>
                </div>
                <div class="cardBottom" id="bottomRight">
                    <p><i class="bi bi-wind"></i> <%= Math.round(current.wind.speed) %> mph</p>
                    <p><%= winds.currentWind %> <%= current.wind.deg %>&deg;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="forecast">
        <div class="cardHeader">
            <h4>5hr Forecast</h4>
        </div>
        <div class="cardBody">
            <div class="cardBodyTop">
                <img src="http://openweathermap.org/img/wn/<%= current.weather[0].icon %>@2x.png" alt="Current weather icon">
                <h5><%= Math.round(forecast.main.temp) %>&deg;</h5>
                <p><%= forecast.weather[0].main %></p>
            </div>
            <div class="cardBodyBot">
                <div class="cardBottom" id="bottomLeft">
                    <p><i class="bi bi-moisture"></i> <%= forecast.main.humidity %>%</p>
                    <p><i class="bi bi-arrow-down"></i> <%= Math.round(((forecast.main.pressure / 33.8638) + Number.EPSILON) * 100) / 100 %> inHg</p>
                </div>
                <div class="cardBottom" id="bottomRight">
                    <p><i class="bi bi-wind"></i> <%= Math.round(forecast.wind.speed) %> mph</p>
                    <p><%= winds.forecastWind %> <%= forecast.wind.deg %>&deg;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="otherInfo">
        <div class="cardBody">
            <div class="cardBodyTop">
                <p>This is supposed to be a radar but I failed.</p>
            </div>
            <div class="cardBodyBot">
                <div class="cardBottom" id="bottomLeft">
                    
                </div>
                <div class="cardBottom" id="bottomRight">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container ctas">
    <a href="/journal/new"><button>New Trip</button></a>
    <a href="/streams/new"><button>New Stream</button></a>
</div>

<% if (trips.length === 0) { %>
    <p>Add your first trip!</p>
<% } else { %>
<div class="container lastTrip">
    <div class="tripTitle">
        <a href="/journal/<%= trips[0].id %>"><h2><%= trips[0].date.toLocaleDateString('en-US') %> <%= trips[0].stream.name %></h2></a>
    </div>
    <div class="lastTripBody">
        <div class="left">
            <h4>Fish:</h4>
            <p><%= trips[0].fishes.length %> </p>
        </div>
        <div class="right">
            <p><%= trips[0].weather %></p>
            <p><%= trips[0].description %></p>
        </div>
    </div>
</div>
<% } %> 