<% console.log(weather) %> 
<div class="container">
    <h2><%= currentUser.name %>'s Dashboard </h2>
    <div class="currentWeather">
        <h4>Current <%= weather.name %> Conditions</h4>
        <h5><%= Math.round(weather.main.temp) %></h5>
        <p><%= weather.weather[0].main %></p>
        <p><%= Math.round(((weather.main.pressure / 33.8638) + Number.EPSILON) * 100) / 100 %> </p>
    </div>
    <div class="forecast">

    </div>
</div>