<% console.log('current:', current) %> 
<% console.log('forecast', forecast) %> 
<div class="container weatherDisplay">
    <div class="currentWeather">
        <div class="cardHeader">
            <h4><%= current.name %> Now</h4>
        </div>
        <div class="cardBody">
        <h5><%= Math.round(current.main.temp) %></h5>
        <p><%= current.weather[0].main %></p>
        <p><%= Math.round(((current.main.pressure / 33.8638) + Number.EPSILON) * 100) / 100 %> </p>
        </div>
    </div>
    <div class="forecast">
        <div class="cardHeader">
            <h4>5hr Forecast</h4>
        </div>
        <div class="cardBody">
        <h5><%= Math.round(forecast.main.temp) %></h5>
        <p><%= forecast.weather[0].main %></p>
        <p><%= Math.round(((forecast.main.pressure / 33.8638) + Number.EPSILON) * 100) / 100 %> </p>
    </div>
    </div>
</div>
<!-- <div class="container lastTrip">
    <div class="tripTitle">

    </div>
</div> -->