<h2><%= trip.date.toLocaleDateString() %> <%= trip.stream.name %></h2>
<div>
<h5><%= trip.weather %></h5>
    <h5>Fish Caught: <%= trip.fishes.length %> </h5>
    <p><%= trip.description %></p>
</div>
<a href="<%= trip.id %>/edit"><button>Edit Trip</button></a>
<a href="<%= trip.id %>/addFish"><button>Add Fish</button></a>
<form action="/journal/<%= trip.id %>?_method=DELETE" method="POST" id="showTripDelete">
    <input type="submit" id="delete" name="delete" value="Delete Trip">
</form>
<div class="container" id="fishDisplay">
    <h3><%= trip.stream.name %> Fish</h3>
    <% trip.fishes.forEach( fish => { %>
        <div class="fish">
            <div class="fishLeft">
                <h5><%= fish.species %> </h5>
                <p>Length: <%= fish.length %>in</p>
                <p>Weight: <%= fish.weight %>lbs</p>
            </div>
            <div class="fishCenter">
                <p>
                    <%= fish.description %> 
                </p>
            </div>
            <div class="fishRight">
                <form action="/journal/<%= trip.id %>/fish/<%= fish.id %>?_method=DELETE" method="POST" id="showTripDelete">
                    <input type="submit" id="delete" name="delete" value="Delete">
                </form>
            </div>
        </div>
    <% }) %> 
</div>