<h2>Edit Profile</h2>
<form action="/profile?_method=PUT" method="POST" id="profileForm">
    <label for="zipCode">Zip Code</label>
    <input type="text" name="zipCode" id="zipCode" value="<%= user.zipCode %>"><br>
    <label for="style">Style</label>
    <input type="text" name="style" id="style" value="<%= user.style %>"><br>
    <label for="favoriteStream">Favorite Stream</label>
    <select name="favoriteStream" id="favoriteStream">
        <option value="0">Choose A Stream</option>
        <% user.streams.forEach(stream => { %>
         <option value="<%= stream.id %>"><%= stream.name %> </option>
        <% }) %>
    </select><br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="<%= currentUser.email %>"><br>
    <input type="submit"><a href="/profile"><button type="button" class="editCancel">Cancel</button></a>
</form>