<h2><%= currentUser.name %>'s Profile</h2> 
<div class="container">
    <p>Zipcode: 
        <% if (!user.zipCode) { %>
            Add a zip code!
        <% } else { %>
        <%= user.zipCode %>
        <% } %>
    <p>  
    <p>Style: 
        <% if (!user.style) { %>
            Add your fishing style!
        <% } else { %>
        <%= user.style %>
        <% } %>
    </p>
    <% console.log(user.streams[0]) %> 
    <p>Favorite Stream: 
        <% if (!user.favoriteStream) { %>
            Select a favorite waterway!
        <% } else { %>
        <%= user.streams %>
        <% } %>
    </p>
    <p>Fish Caught: <%= user.fishes.length %>  </p>
    <p>Biggest Fish: </p>
    <p>Email: <%= user.email %> </p>
</div>
<a href="/profile/edit"><button>Edit Profile</button></a>