<div class="main container">
    <h2>Edit <%= stream.name %> </h2>
    <form action="/streams/<%= stream.id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="name" name="name" id="name" value="<%= stream.name %>"><br>
        <label for="longitude">Longitude</label>
        <input type="text" name="longitude" id="longitude" value="<%= stream.longitude %> "><br>
        <label for="latitude">Latitude</label>
        <input type="text" name="latitude" id="latitude" value="<%= stream.latitude %> "><br>
        <input hidden type="text" name="userId" id="userId" value="<%= currentUser.id %> "><br>
        <input type="submit">
    </form>
</div>