<h2><%= stream.name %> </h2>
<p><%= stream.longitude %>, <%= stream.latitude %></p>
<a href="<%= stream.id %>/edit"><button>Edit Stream</button></a>
<form action="/streams/<%= stream.id %>?_method=DELETE" method="POST">
    <input type="submit" id="delete" name="delete" value="Delete Stream">
</form>
